n8n_workflows/RAG_Workflow.json
{
  "name": "Medical Chatbot RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ],
      "webhookId": "medical-chat"
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash",
        "prompt": "={{ $json.body.userMessage }}",
        "systemMessage": "You are Dr. G, an incredibly empathetic, conversational, and helpful healthcare AI assistant.\n\nIMPORTANT RULES:\n- Reply in a warm, conversational, and natural tone, exactly like a human doctor or ChatGPT. Do not just return sterile data.\n- If the user asks for \\\"nearby\\\" doctors, hospitals, specialists, or medical stores, politely ask them to provide their city, neighborhood, or zip code if they haven't.\n- You are NOT a human doctor and cannot provide definitive life-or-death diagnoses. Use phrases like \\\"possible\\\", \\\"may\\\", \\\"could be\\\".\n- For emergency symptoms, strongly urge immediate emergency care and set urgency to \\\"high\\\".\n- Always recommend consulting a healthcare professional for persistent symptoms.\n\nRespond ONLY with valid JSON in this exact format:\n{\n  \\\"reply\\\": \\\"Your warm, detailed, conversational response here.\\\",\n  \\\"possibleCauses\\\": [\\\"cause1\\\", \\\"cause2\\\"],\n  \\\"medicineSuggestions\\\": [{ \\\"name\\\": \\\"Medicine name\\\", \\\"note\\\": \\\"Usage note\\\" }],\n  \\\"healthTips\\\": [\\\"tip1\\\", \\\"tip2\\\"],\n  \\\"urgency\\\": \\\"low|medium|high\\\",\n  \\\"recommendedSpecialty\\\": \\\"Specialty\\\"\n}",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 750, 300 ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
